<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>

  <body>
    <h1>제목: <%= title %></h1>
    <h1>상품명: <%= productName %></h1>
    <h1>상품설명: <%= productDescript %></h1>
    <p>새 글 등록</p>
  </body>
</html>
