@font-face {
    src: url('../fonts/SCDream3.ttf');
    font-family: "score";
}

body {
    margin: 0;
    padding: 0;
}
@media only screen {
    body {
        margin: 0;
        max-width: 100%;
        color: black;
    }
    header {
        margin: 2em auto;
        max-width: 90%;
        color: black;
    }
}
body {
    line-height: 1.5;
}
@page {
	margin: 1in;
    color: black;
}

.intro_bg {
    background: url('../image/conversation2.jpg') no-repeat 50% 10% /cover;
    padding: 110px 0;
    width: 100%;
    height: 500px;
}

.area > h1,
.area > p{
    font-family: 'score';
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    
}

.area > h1 {
    font-size: 50px;
    margin-bottom: 20px;
  
}

.area > p {
    margin-top: 6px;
}

.area {
    text-align: center;
    
}
.area2 > h1 {
    font-family: "score";
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.introduce tr > td > p {
    font-family: "score";
    color: #000;
    text-align: center;
}